body {
  background-image: url(http://images.all-free-download.com/images/graphiclarge/bear_gets_haircut_clip_art_18250.jpg);
}

h2 {
  background-color: pink;
  padding-right: 50%;
}

h3 {
  color: red;
  width: 8%;
  background-color: #66CCFF;
}

.btn {
  color: red;
  font-size: 22px;
  width: 8%;
  background-color: #66CCFF;
}

h1 {
  color: red;
  font-size: 22px;
  width: 15%;
  background-color: #66CCFF;
}
