<p>Add a new Cuisine:</p>

<form action="/" method="post">
  <input type="hidden" id="cuisine_id" name="cuisine_id" value="$cuisine.getId()">

<div class="form-group">
  <label for="type">Enter a Cuisine Type</label>
  <input id="type" name="type" type="text">
</div>
  <button type="submit" class="btn btn-default">Add cuisine</button>
</form>
