<h2> $cuisine.getType() </h2>

<ul>
#foreach ($restaurant in $cuisine.getRestaurants())
<li>$restaurant.getName() : $restaurant.getDescription()
</li>
#end
</ul>

<a href="/">Return to cuisine list</a>
