<h1> $cuisine.getType() </h1>


<ul>
#foreach ($restaurant in $restaurants)

<!-- <li><a href="/cuisines/$cuisine.getId()"> -->
$restaurant.getName()</li>
#end
</ul>




<a href="/restaurant-form/$cuisine.getId()">Add a restaurant</a>
</br>
