<h1> Stylist list: </h1>


#foreach ($stylist in $stylists)
<h2> <a href="/$stylist.getId()">$stylist.getName() </a> </h2>
#end


<h1> <label> Add stylist:</label> </h1>
<form action="/" method="post">
  <input id="stylistName" name="stylistName" type="text">


  <button type="submit" name="AddStylist" class="btn btn-info"> Submit </button>
</form>
