<h1> Stylist LIST </h1>


#foreach ($stylist in $stylists)
<h2> <a href="/$stylist.getId()">$stylist.getName() </a> </h2>
#end



<form action="/" method="post">
  <input id="stylistName" name="stylistName" type="text">
  <br>
  <h2> <label> Add a Stylist:</label> </h2>

  <button type="submit" name="AddStylist" class="btn btn-info"> Submit </button>
</form>

<br>

<a href="/">Go to Stylist list</a>
